@use "../variables";

.button {
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  transition: background-color 0.3s ease, color 0.3s ease;

  &--primary {
    color: #fff;
    background-color: variables.$purple;

    &:hover,
    &:focus {
      background-color: darken(variables.$purple, 10%);
      color: lighten(#fff, 10%);
    }
  }

  @media (max-width: 640px) {
    display: block;
    width: 100%;
  }

  @media (max-width: 1024px) {
    display: flex;
    align-items: center;
  }
}
